html,
body {
  margin: 0;
}

body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  font-family: "Arial Narrow", Arial;
}

.imagem_header {
  display: table;
  width: 100%;
  padding: 160px 0;
  text-align: center;
  background: url(https://img.freepik.com/fotos-gratis/sorriso-perfeito-com-dentes-brancos-closeup_144627-29225.jpg?w=826&t=st=1665408354~exp=1665408954~hmac=f1df3f940347f9932948bee49955b02d640fa93bd388f2f829e9f246b014cb64)  ;
  background-position: 30% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.wrapper {
  width: 1980px;
  display: flex;
  margin: 0 auto;
  background-color: aquamarine;
}

.main {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.menu {
  width: 15%;
  background-color: rgb(124, 95, 255);
  padding: 10px 20px 0px;
}

.menu ul li,
.menu ul li a {
    line-height: 30px;
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.header {
  background-color: rgb(255, 255, 255);
  min-height: 150px;
}

.content {
  background-color: white;
  min-height: 600px;
  padding: 90px 20px;
}

.titulo {
  font-size: 46px;
}

.paragrafo {
  font-size: 26px;
}

.footer {
  background-color: rgb(124, 95, 255);
  min-height: 150px;
  text-align: center;
  color: white;
}

.footer ul li {
  list-style-type: none;
}

.footer_02,
.footer_01 {
  display: inline-block;
}
