html, body {
    margin: 0;
}

body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    font-family: 'Arial Narrow', Arial;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
}

.header {
    background-color: rgb(5, 108, 72);
    min-height: 150px;
}

#img_01 {
    width: 100%;
    border-radius: 20px;
}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

.titulo {
    font-size: 46px;
}

.telefones {
    text-transform: uppercase;
    font-weight: 600;
}

#whatsapp,
#tel {
    width: 20px;
    padding-right: 5px;
}

.paragrafo_tel,
.paragrafo_whatssap {
    display: flex;
}

.paragrafo {
    font-size: 26px;
}

.footer {
    background-color: rgb(99, 56, 240);
    min-height: 150px;
    text-align: center;
}

.footer ul li {
    list-style-type: none
}

.footer_01,
.footer_02 {
    display: inline-block;
}
