html, body {
    margin: 0;
}

body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    font-family: 'Arial Narrow', Arial;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}

.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}

.menu {
    width: 15%;
    background-color: rgb(124, 95, 255);
    padding: 10px 20px 0px;
}

.menu ul li,
.menu ul li a {
    line-height: 30px;
    font-size: 20px;
    list-style-type: none;
    text-decoration: none;
    color: white;
}

.header {
    background-color: rgb(255, 255, 255);
    min-height: 150px;
}

#img_01 {
    width: 100%;
    border-radius: 20px;
}

.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

.titulo {
    font-size: 46px;
}

.paragrafo {
    font-size: 26px;
}

.footer {
    background-color: rgb(124, 95, 255);
    min-height: 150px;
    text-align: center;
    color: white;
}

.footer ul li {
    list-style-type: none
}

.footer_01,
.footer_02 {
    display: inline-block;
}
